streamlit
langchain
langchain-google-vertexai
python-dotenv
langchain-chroma
huggingface-hub
google-cloud-aiplatform
langchain-community
sentence-transformers
pysqlite3-binary
google-cloud-aiplatform
google-auth
google-auth-oauthlib